@model gezginler.Models.Uye

@{
    ViewBag.Title = "GirisYap";
}



<div class="row">
    <div class="col-md-8">

        <div class="container">
            <h2>Giriş Yap</h2>
            <center>
                <section id="loginForm">


                    @using (Html.BeginForm("GirisYap", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                        <img src="~/Content/img/gezgn.jpg" style="height:400px; width:600px; float:left" alt="">


                        @Html.AntiForgeryToken()
                        <h4></h4>
                        <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EPosta)
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.EPosta, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EPosta, "", new { @class = "text-danger" })
                                    </div>
                                </div><br />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Parola)
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Parola, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Parola, "", new { @class = "text-danger" })
                                    </div>
                                </div><br />
                                @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Bir hesabınız yosa üye olun", "UyeOl", "Home")
                                </p>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@
                    }
                </section>
            </center>
        </div>
        
       

    </div>

    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*<center>
    <div>

        <img src="~/Content/img/gezgn.jpg" alt="">
        @using (Html.BeginForm())
        {
            <p>Eposta : @Html.TextBoxFor(m => m.EPosta)</p>
            <p>Parola : @Html.PasswordFor(m => m.Parola)</p>
            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Giriş Yap" />
                </div>
            </div>
        }
    </div>
</center>*@